.articles__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 400px));
  gap: 16px;
  margin-left: 104px;
  margin-top: 61px;
}

@media screen and (max-width: 1024px) {
  .articles__list {
    margin: 32px 0;
    gap: 8px;
  }
}

@media screen and (max-width: 640px) {
  .articles__list {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: 16px;
    margin: 24px 0
  }
}

@media screen and (max-width: 450px) {
  .articles__list {
    grid-template-columns: minmax(auto, 1fr);
    margin: 24px 0;
  }
}