.author__image {
width: 464px;
height: 464px;
background-repeat:no-repeat;
background-size: cover;
background-image: url('../../../images/image-03.png');
}

@media screen and (max-width: 1024px) {
  .author__image {
    width: 232px;
    height: 232px;
    margin-top: 20px;
}
}

@media screen and (max-width: 600px) {
  .author__image {
    width: 272px;
    height: 272px;
}
}