.articles__flag-favorites {
  position: relative;
  top: 25px;
  background-image: url('../../../images/Group 13 (1).png');
  width: 40px;
  height: 40px;
  left: 336px;
}

.articles__flag-favorites:hover {
  background-image: url('../../../images/Group 14 (1).png');
}

/* .articles__flag-favorites::after {
  content: "";
  transform: rotate(0.5turn);
  width: 2px;
  height: 2px;
  } */