@import url(./__not-found/articles__not-found.css);
@import url(./__not-found-image/articles__not-found-image.css);
@import url(./__not-found-title/articles__not-found-title.css);
@import url(./__not-found-subtitle/articles__not-found-subtitle.css);
@import url(./__loading/articles__loading.css);
@import url(./__loading-preloader/articles__loading-preloader.css);
@import url(./__loading-title/articles__loading-title.css);
@import url(./__container/articles__container.css);
@import url(./__container_save/articles__container_save.css);
@import url(./__result/articles__result.css);
@import url(./__list/articles__list.css);
@import url(./__item/articles__item.css);
@import url(./__flag/articles__flag.css);
@import url(./__flag-marked/articles__flag-marked.css);
@import url(./__article-image/articles__article-image.css);
@import url(./__article-information/articles__article-information.css);
@import url(./__article-date/articles__article-date.css);
@import url(./__article-title/articles__article-title.css);
@import url(./__article-subtitle/articles__article-subtitle.css);
@import url(./__article-source/articles__article-source.css);
@import url(./__button/articles__button.css);



.articles {

  width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  background: #F5F6F7;
  display: none;
}


.articles__hide {
  display: block;
}