.search__container {
    max-width: 42.15%;
    padding-top: 4.9375rem;
    padding-bottom: 1.25rem;
}

 @media screen and (max-width: 1024px){
  .search__container {
    max-width: 55%;
  }
}

@media screen and (max-width: 826px){
  .search__container {
    max-width: 60%;
  }
}

@media screen and (max-width: 768px){
  .search__container {
    max-width: 57%;
    padding-top: 2.375rem;
    padding-bottom: 0;
    height: 18.5rem;
    margin-left: -0.25rem;
  }
}

@media screen and (max-width: 500px){
  .search__container {
    max-width: 90%;
    padding-top: 1.875rem;
    padding-bottom: 0;
    height: 18.5rem;
    margin-left: 0;
  }
}