.articles__article-information {
  padding: 16px 25px 23px;
}

@media screen and (max-width: 1024px) {
  .articles__article-information {
    padding: 16px 16px;
  }
}

@media screen and (max-width: 768px) {
  .articles__article-information {
    padding: 11px 16px 16px;
  }
}