.header__nav {
  margin-right: 7.25%;
  margin-top: 1.1875rem;
}

    @media screen and (max-width: 768px){
      .header__nav {
        margin-right: 5.4%;
        margin-top: 0.875rem;
      }
    }


    @media screen and (max-width: 650px){
      .header__nav {
        display: none;
      }
    }