.articles__article-source {
font-family: 'Roboto Slab', sans-serif;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.6px;
text-transform: uppercase;
color: #B6BCBF;
margin-top: 19px;
margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .articles__article-source {
    margin-top: 12px;
  }
}

@media screen and (max-width: 500px) {
  .articles__article-source {
    margin-top: 7px;
  }
}