.author__subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  margin-top: 23px;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .author__subtitle {
    margin-top: 9px;
  }
}

@media screen and (max-width: 320px) {
  .author__subtitle {
    margin-top: 15px;
  }
}
/* @media screen and (max-width: 768px) {
  .articles__result {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 31px;
  }
} */