.articles__title-article {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 1.625rem;
  line-height: 1.875rem;
  color: #1A1B22;
  margin-left: 25px;
  margin-top: 12px;
  margin-bottom: 16px;
  width: 350px;
}