.articles__date {
  font-family: 'Source Sans Pro';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #B6BCBF;
margin-left: 25px;
margin-top: 16px;
margin-bottom: 0;
}