<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css%>">
  <link rel="icon" href="<%=require('./images/Group.png')%>" type="image/ico">
</head>
<body>
  <div class="root root__image">
    <header class="header">
      <h1 class="header__logo">NewsExplorer</h1>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item header__item_main"><a href="./index.html" class="header__main header__bottom-line">Главная</a></li>
          <li class="header__item header__item_main header__item_main-saved"><a href="./about.html" class="header__main header__main-mod">Сохранённые статьи</a></li>
          <!-- <li class="header__item"><button class="header__auth">Авторизоваться</button></li> -->
          <li class="header__item">
            <button class="header__auth header__auth_top">
              <span class="header__auth-name">Грета</span>
              <img src="<%= require('./images/logout-white.png')%>" alt="logout icon" class="header__logout-icon">
            </button>
          </li>
        </ul>
      </nav>
      <img src="<%= require('./images/menu.png')%>" alt="" class="header__nav-icon">
    </header>
    <section class="search">
    <div class="search__container">
      <h2 class="serch__title">Что творится в мире?</h2>
      <p class="search__subtitle">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.</p>

      <form class="search__form">
        <div class="form__input-block">
          <input class="search__input"
                name="query"
                type="text"
                placeholder="Введите тему новости"
                data-propname="query"
                minlength="3">
        <span id="search-error" class="form__error">Введите более 8 символов</span>
        </div>

        <button class="search__button" type="submit">Искать</button>
      </form>
    </div>
    </section>

    <section class="articles">

      <div class="articles__container">
        <!-- <div class="articles__loading">
          <div class="articles__loading-preloader"></div>
          <p class="articles__loading-title">Идет поиск новостей...</p>
      </div> -->

        <h2 class="articles__result">Результаты поиска</h2>

        <div class="articles__list">

        </div>
        <button class="articles__button">Показать еще</button>
      </div>


    </section>

    <section class="author">

      <div class="author__image"></div>
      <div class="author__description">
      <h3 class="author__title">Об авторе</h3>
      <p class="author__subtitle">Здравствуйте! Меня зовут Константин, я практикующий веб-разработчик с опытом работы более года.
        Сейчас вы находитесь на моём проекте по поиску новостей. Вы можете ознакомиться с другими моими проектами на моём <a href="https://github.com/KonstantinOkhlynin" class="link">Гитхаб</a></p>
    </div>

    </section>

    <footer class="footer">
      <div class="footer__copyright">&copy; 2020 Supersite, Powered by News API</div>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="./index.html">Главная</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="https://praktikum.yandex.ru/"
              target="_blank">Яндекс.Практикум</a>
          </li>
        </ul>
        <div class="footer__social">
          <a href="https://github.com" class="footer__link-social">
            <img class="footer__social-icon" src="<%=require('./images/github.svg')%>" alt=" github icon">
          </a>
          <a href="https://facebook.com" class="footer__link-social">
            <img class="footer__social-icon" src="<%=require('./images/fb.svg')%>" alt="facebook icon ">
          </a>

        </div>
      </nav>
    </footer>

    <div class="popup" >
      <div class="popup__content popup__content_hide" id="popup__login">
        <img class="popup__close" src="<%=require('./images/popup-close-white.svg')%>" alt="Закрыть">
        <h3 class="popup__title">Вход</h3>
        <form class="form" name="login" novalidate>
          <div class="form__input-block">
            <label for="email-login" class="form__label"><span class="popup__colored-text">Email</span></label>
            <input
              class="form__input form__input_type_email"
              type="email"
              id="email-login"
              name="email-login"
              placeholder="Введите Email"
              data-propname="email"
              required
            >
            <span id="email-error-login" class="form__error">Неправильный формат email</span>
          </div>
          <div class="form__input-block">
            <label for="password" class="form__label"><span class="popup__colored-text">Пароль</span></label>
            <input
              class="form__input form__input_type_password"
              type="password"
              id="password"
              name="password"
              placeholder="Введите пароль"
              data-propname="password"
              required
              minlength="8"
            >
            <span id="password-error-login" class="form__error">Введите более 8 символов</span>
          </div>
          <div class="form__input-block"></div>
          <button type="submit" name="button" class="form__button " disabled="true">Войти</button>
        </form>
        <p class="popup__text">или
          <span class="popup__link popup__colored-text" data-action="popup__signup">Зарегистрироваться</span>
        </p>
      </div>

      <div class="popup__content "id="popup__signup">
        <img class="popup__close" src="<%=require('./images/popup-close-white.svg')%>" alt="Закрыть">
        <h3 class="popup__title">Регистрация</h3>
        <form class="form" name="signup" novalidate>
          <div class="form__input-block">
            <label for="email-signup" class="form__label"><span class="popup__colored-text">Email</span></label>
            <input
              class="form__input form__input_type_email"
              type="email"
              id="email-signup"
              name="email-signup"
              placeholder="Введите Email"
              data-propname="email"
              required
            >
            <span id="email-error-signup" class="form__error">Неправильный формат email</span>
          </div>
          <div class="form__input-block">
            <label for="password" class="form__label"><span class="popup__colored-text">Пароль</span></label>
            <input
              class="form__input form__input_type_password"
              type="password"
              id="password-signup"
              name="password-signup"
              placeholder="Введите пароль"
              data-propname="password"
              required
              minlength="8"
            >
            <span id="password-error-signup" class="form__error">Введите более 8 символов</span>
          </div>
          <div class="form__input-block">
            <label for="name" class="form__label"><span class="popup__colored-text">Имя</span></label>
            <input
              class="form__input form__input_type_name"
              type="text"
              id="name"
              name="name"
              placeholder="Введите своё имя"
              data-propname="name"
              required
              minlength="2"
              maxlength="30"
            >
            <span id="name-error" class="form__error">Введите не менее 2 символов</span>
          </div>
          <div class="form__input-block">
            <span id="already-exists-error" class="form__error form__error_centre">Такой пользователь уже зарегестрирован</span>
            <button type="submit" name="button" class="form__button" disabled>Зарегистрироваться</button>
          </div>
        </form>
        <p class="popup__text">или <span class="popup__link popup__colored-text" data-action="popup__login">Войти</span></p>
      </div>
      <div class="popup__content popup__content_hide" id="popup__success">
        <img class="popup__close" src="<%=require('./images/popup-close-white.svg')%>" alt="Закрыть">
        <h3 class="popup__title" id="popup__result__title">Пользователь успешно зарегистрирован!</h3>
        <p class="popup__text popup__text_left">
          <span class="popup__colored-text popup__link" data-action="popup__login">Войти</span>
        </p>
      </div>
      <div class="popup__content popup__content_hide" id="popup__error">
        <img class="popup__close" src="<%=require('./images/popup-close-white.svg')%>" alt="Закрыть">
        <h3 class="popup__title">Ошибка регистрации, попробуйте снова</h3>
        <p class="popup__text popup__text_left">
          <span class="popup__colored-text popup__link" data-action="popup__signup">Зарегистрироваться</span>
          или
          <span class="popup__colored-text popup__link" data-action="popup__login">Войти</span>
        </p>
      </div>
    </div>

    <div class="mobile-menu">
      <div class="mobile-menu__container">
      <div class="mobile-menu__header">
        <h1 class="header__logo">NewsExplorer</h1>
        <img class="mobile-menu__close" src="<%=require('./images/popup-close-white.svg')%>" alt="Закрыть">
      </div>
        <nav class="mobile-menu__nav">
          <ul class="mobile-menu__list">
            <li class="mobile-menu__item-main"><a href="./index.html" class="header__main mobile-menu__main">Главная</a></li>
            <li class="mobile-menu__item-saved"><a href="./about.html" class="header__main mobile-menu__saved">Сохранённые статьи</a></li>
            <li class="mobile-menu__item">
              <button class="header__auth header__auth_top header__auth-name-mobile">
                <span class="header__auth-name">Грета</span>
                <img src="<%= require('./images/logout-white.png')%>" alt="logout icon" class="header__logout-icon header__logout-icon-mobile">
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    </div>

  </div>
  <script src="<%=htmlWebpackPlugin.files.js%>"></script>
</body>
</html>