@import url(./__logo/header__logo.css);
@import url(./__main/header__main.css);
@import url(./__list/header__list.css);
@import url(./__auth/header__auth.css);
@import url(./__nav/header__nav.css);
@import url(./_main/header__item_main.css);
@import url(./__auth_top/header__auth_top.css);
@import url(./__logout-icon/header__logout-icon.css);
@import url(./__nav-icon/header__nav-icon.css);
@import url(./__bottom-line/header__bottom-line.css);
@import url(./__main-mod/header__main-mod.css);
@import url(./__black-mod/header__black-mod.css);

.header {
  width: 100%;
  height: 5.0rem;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

@import url(./__shadow-mod/header__shadow-mod.css);

@media screen and (max-width: 768px){
  .header {
    height: 4.1rem;
  }
}

@media screen and (max-width: 500px){
  .header {
    height: 3.5rem;
  }
}


